.repo-post{
    height: 100px;
    background: #444444;
    padding: 15px;
    width: auto;
    overflow: hidden;
}

.repo-post:hover{
    background: #686868;
}

.repo-post .h4{
    font-weight: bolder;
}

.post-container{
    height: 430px;
}

.post-container a{
    color: white;
} 

.post-container a:hover{
    color: white;
}

.btn{
    background: white !important;
    color: black !important;
    border: none !important;
    border-radius: 0px !important;
}

.btn:focus{
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-menu{
    width: 182px !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin-top: -2px !important;
}