
.title{
    text-align: left;
    padding-left: 2rem;
}

.repo-post{
    height: auto;
    background: #00000059;
    margin: 1rem;
    padding: 15px;
    width: auto;
    overflow: hidden;
    border-radius: 10px;
    transition: 200ms;
}

.repo-post:hover{
    background: #00000082;
    transform:scale(1.1,1.1) skew(-3deg,0deg);
}

.repo-post .h4{
    font-weight: bolder;
}

.post-container{
    height: 430px;
}

.post-container a{
    color: white;
} 

.post-container a:hover{
    color: white;
}

.btn{
    background: white !important;
    color: black !important;
    border: none !important;
    border-radius: 0px !important;
}

.btn:focus{
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-menu{
    width: 182px !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin-top: -2px !important;
}